<%- include('partials/header.ejs') %>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="phno" placeholder="phone number">
        <button type="submit">Submit</button>
    </form>
</body>
</html>