<%- include('partials/header.ejs') %>

    <form  method="post">
        <input type="text" name="name" placeholder="name" value="<%= items.name %>">
        <input type="text" name="phno" placeholder="phone number" value="<%= items.phno %>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>